<div class="product-container">
  <!-- 左區塊：圖片輪播 -->
  <div class="carousel-container">
    <div style="position: relative; width: 100%; max-width: 400px;">
      <img [src]="images[currentImage]" alt="產品圖片">
      <button 
        class="img-chg-btn"
        (click)="prevImage()" 
        style="position: absolute; top: 50%; left: -36px; transform: translateY(-50%);" 
        [disabled]="currentImage === 0">◀</button>
      <button 
        class="img-chg-btn"
        (click)="nextImage()" 
        style="position: absolute; top: 50%; right: -36px; transform: translateY(-50%);" 
        [disabled]="currentImage === images.length - 1">▶</button>
    </div>
  </div>

  <!-- 右區塊：文字介紹 -->
  <div class="info-container">
    <h2>{{ productName }}</h2>
    <p>{{ description }}</p>
    <p>{{ description_en }}</p>
    <p>NT${{ price }}</p>
    <div class="quantity-box">
      <span class="qty-control" (click)="decrease()">−</span>
      <input class="qty-input" type="number" [(ngModel)]="quantity" min="1">
      <span class="qty-control" (click)="increase()">+</span>
    </div>
    <button class="add-to-cart-btn" (click)="addCartItems()">加入購物車</button>
    
    <!-- 成份 (可摺疊) -->
    <div class="collapse-section" >
      <div (click)="showStructure = !showStructure">
        香調結構 ｜ Notes<span>{{ showStructure ? '-' : '+' }}</span>
      </div>
      <div *ngIf="showStructure">
        <div class="structure-content" *ngFor="let struc of structure">
          &nbsp;&nbsp;&nbsp;• {{ struc }}
        </div>
      </div>
    </div>

    <!-- 用法 (可摺疊) -->
    <div class="collapse-section">
      <div (click)="showUsage = !showUsage">
        用法 ｜ Usage<span>{{ showUsage ? '-' : '+' }}</span>
      </div>
      <div *ngIf="showUsage">&nbsp;&nbsp;&nbsp;{{ usage }}</div>
    </div>
  </div>
</div>